<ion-view hide-nav-bar="true">
    <ion-content scroll="false">
        <div id="loginContainer">
            <div class="text-center m-t-30">
                   <h1 class="colBlue cursive">Cottonian</h1>
            </div>
            <form name="SignupForm" novalidate>
              <div class="list">
                    <label class="item item-input loginInputField" style="border-top: none;">
                    <i class="ion-person Outline colBlue placeholder-icon" style="font-size: 25px;margin-top: 3px;"></i>
                    <input type="text" ng-model="Signup.fname" name="fname" placeholder="Full name" required>
                </label>
                    <label class="item item-input loginInputField">
                    <i class="ion-ios-email-outline colBlue placeholder-icon" style="font-size: 25px;margin-top: 3px;"></i>
                    <input type="email"  ng-model="Signup.email" name="email" placeholder="Email" required>
                </label>
                <label class="item item-input loginInputField">
                    <i class="ion-locked Outline  colBlue placeholder-icon" style="font-size: 25px;margin-top: 3px;"></i>
                    <input type="password"  ng-model="Signup.password" name="password" placeholder='Password' required>
                </label>
                <label class="item item-input loginInputField">
                    <i class="ion-pricetag Outline colBlue placeholder-icon" style="font-size: 22px;margin-top: 4px;"></i>
                    <input type="number"  ng-model="Signup.bno" name="bno" placeholder="Batch year" required>
                </label>
                <label class="item item-input loginInputField">
                    <i class="ion-ios-briefcase-outline colBlue placeholder-icon" style="font-size: 23px;margin-top: 4px;"></i>
                    <input type="text"  ng-model="Signup.businessarea" name="businessarea" placeholder="Business Area" required>
                </label>
                <label class="item item-input loginInputField" ng-click="Signup.locationRefresher && Signup.FindAddress();">
                    <i class="ion-ios-location Outline colBlue placeholder-icon" style="font-size: 25px;margin-top: 4px;"></i>&nbsp;

                    <span  ng-class="{'locationAvailable':Signup.locationAV, 'locationText': !Signup.locationAV}">{{Signup.location}}</span>
                    <ion-spinner icon="lines" ng-if="Signup.locationSpinner" class="refreshicon"></ion-spinner>
                    <div><i class="ion-android-refresh refreshicon" style="font-size: 23px;" ng-if="Signup.locationRefresher"></i></div>
                    
                </label>
               </div>
               <div class="AbsoluteCenterBottom">
                    <button class="button button-block button-default LoginButton BgBlue" ng-disabled="SignupForm.email.$invalid||SignupForm.password.$invalid || SignupForm.fname.$invalid||SignupForm.businessarea.$invalid" ng-click = "Signup.DoSignup()">Signup</button>
                </div>
                
                   <div class="col-xs-12 no-pad-left-right"> 
                        <div class="text-center m-t-15 m-b-15">
                                <span class="font17 input-label" style="display: initial;">Already have an account?
                                    <a ui-sref="login">Login</a>
                                </span>
                        </div>
                    </div>
                </form>
                 <div class="col-xs-12 no-pad-left-right">
                                <div class="text-center m-t-30 m-b-15" ng-style="!login.user && {'margin-top':'50px'}">
                                    <small class="font-14">
                                        <span>When you Signup, automatically you agree with our  <br/> <a href="http://truecvs.com/cottonian/privacy_&_policy/" target="_blank"> Terms and service of Cottonian App                                  </span>
                                        
                                       
                                    </small>
                                </div>
                            </div>
            </div>
        </ion-content>
    </ion-view>