/* Empty. Add your own CSS if you like */
ion-scroll[direction=x] {
  width: 100vw;
}
ion-scroll[direction=y] {
  height: 100vh;
}
.BgBlue{
	background: #00A9D4 !important;
	color: #fff !important;
}
.colBlue{
	color: #00A9D4 !important;
}
.bar.bar-stable{
	background: #00A9D4 !important;
	color: #fff !important;
}
.bar.bar-stable .title{
	color: #fff !important;
}
.tab-nav{
	background: #00A9D4 !important;
}
#loginContainer{
	padding: 16px;
}
.m-t-30{
	margin-top: 30px !important;
}
.locationText{
   color: #a9abac;
  font-size: 15px;
}
.locationAvailable{
 color: rgb(17, 17, 17);
 font-size: 15px;
 overflow-y: auto;
}
.loginInputField{
    border-left: none;
    border-right: none;
    padding-left: 5px;

}
.action-sheet-title{
    text-align: center !important;
}
.m-t-15{
	margin-top: 15px !important;
}
.no-pad-left-right{
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.AbsoluteCenterBottom{
     bottom: 10%; 
     text-align: center; 
     width: 100%; 
}
.LoginButton{
	width: 200px;
    border-radius: 30px;
    border: 1px solid;
}
.FbLogin{
background: rgb(28, 87, 255);
color: #fff;

}
.GmailLogin{
 background: rgb(241, 21, 5);
 color: #fff;
}
.font17{
	font-size: 17px;
}
.font19{
    font-size: 19px;
}
.Outline{
    -webkit-text-fill-color: transparent !important;
    -webkit-text-stroke-width: 1px !important;

}
.cursive{
font-family: 'MTCORSVA';
}
.header-item{
	font-family: 'MTCORSVA';
	font-size: 29px !important;
}
.GridIcon{
 font-size: 40px;
}
.circleBase {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}
.type3 {
    width: 100px;
    height: 100px;
    padding: 22px;  
}
.GridText{
	font-size: 9px;
}
.ColWhite{
	color: #fff;
}
.BgWhite{
	background: #fff;
}

.ColBlue{
	color: blue;

}
.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
    opacity: 1.9 !important;
}
ion-tabs.tabs-color-active-positive .tab-item {
    color: #fff;
    opacity: 1.9;
}

ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated {
    color: blue;
}

.button icon .ion-close-round {
    background: #00A9D4 !important;
}
.font23{
    font-size: 23px !important;
}
.OptionImage{
    width: 100px;
    display: block;
    margin: 0 auto;
}
.pull-left{
 float: left;
}
.pull-right{
    float: right;
}
.list .center{
    max-width: 350px;
    display: block;
    margin: 0 auto;
}
.floatingFormText{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #cec9c9;
}
.ChoosePicDiv{
      width: 100px;
    height: 100px;
    border: 1px solid rgb(206, 201, 201);
    display: block;
    margin: 0 auto;
    font-size: 13px;
    text-align: center;
   color:rgb(113, 109, 109);
}
.CenteredSpinner{
position: absolute;
    top: 50%;
    left: 45%;
    margin-top: -47px;
    margin-left: -14px;
}
.scroll{
    height: 100%;
   }
#center .spinner svg {
    width: 25% !important;
    height: 85px !important;
  }


  .action-sheet .button {
    display: block;
    padding: 1px;
    width: 100%;
    border-radius: 0;
    border-color: #0d0e0e !important;
    background-color: transparent;
    color: #007aff;
    font-size: 21px;
}

.profilePic{
     width: 200px;
    height: 200px;
    padding: 22px;
    border: 1px solid green;
    border-radius: 50%;
    behavior: url(PIE.htc);
    margin: 0 auto;
    background-size: cover;
}
.sidemenuCustom{
   
}

.sidemenuItem{
  
}
.sidemenuCustom.item-content.activated{
   
}
#sidemenu .item.activated{
    
}
.homechild {
display: none;
}
.dashchild{
    display: none;
}
.showsidemenuitem{
    display: block;
}
.home
{
    color:#fff;
       
}
.child
{
    display: none;
    color: #fff;
    border: 1px solid red;
    opacity: 0.5;
    transform: rotate(20deg);
     
     
}
.home:hover + .child
{
     display: block;
     -webkit-transition:all 5s  ease-in-out;
     -moz-transition:  all 5s ease-in-out;
     -ms-transition: all 5s ease-in-out;
     -o-transition: all 5s ease-in-out;
     transition:  all 5s ease-in-out;
}
.sidemenuheader{
  height: 173px;
  padding: 1px;
  margin: 0px;
}
.sidemenuprofilepic{
      width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: cover;
    margin-left: 10px;
    margin-top: 10px;
}
.sidemenuUsername{
      font-size: 19px;
    margin-left: 10px;
    float: left;
    margin-top: 18px;
    color: #fff !important;
    font-weight: bold;
}
#dashboard .item-content{
  margin-left: 0px;
}

#dashContent{
    margin-left: 30px;
    border-left: none;
}
.refreshicon{
    font-size: 23px;
    position: absolute;
    right: 4px;
    top: 11px;
}