<ion-modal-view>
    <ion-header-bar class='BgBlue' align-title="center">
        <h1 class="title ColWhite font23">{{OptionData.title}}</h1>
        <button class="button icon ion-close-round model-close" on-tap="hide()"></button>
    </ion-header-bar>
    <ion-content scroll="false" has-header='true'>

    <div class="profilePic m-t-15" style = 'background-image: url({{OptionData.image}}); border-color: #fff;' ng-if = "OptionData.title != 'Profile'" ></div>
     <div class="profilePic m-t-15" style = 'background-image: url({{OptionData.image}})' ng-click = 'changePic();' ng-if = "OptionData.title == 'Profile'"></div>
        <div class="list m-t-15">
            <div class="item" ng-if='OptionData.date_time'>
                <div class="pull-left colBlue">
                    Time
                </div>
                <div class="pull-right">
                    {{OptionData.date_time}}
                </div>
            </div>
            <div class="item" ng-if='OptionData.fullname'>
                <div class="pull-left colBlue">
                    Name
                </div>
                <div class="pull-right">
                    {{OptionData.fullname}}
                </div>
            </div>
            <div class="item" ng-if='OptionData.email'>
                <div class="pull-left colBlue">
                    Email
                </div>
                <div class="pull-right">
                    {{OptionData.email}}
                </div>
            </div>
            <div class="item" ng-if='OptionData.school_batch'>
                <div class="pull-left colBlue">
                    School batch
                </div>
                <div class="pull-right">
                    {{OptionData.school_batch}}
                </div>
            </div>
            <div class="item" ng-if='OptionData.Contact'>
                <div class="pull-left colBlue">
                    Contact
                </div>
                <div class="pull-right">
                    {{OptionData.contact}}
                </div>
            </div>

            <div class="item" ng-if='OptionData.user'>
                <div class="pull-left colBlue">
                    Publisher
                </div>
                <div class="pull-right">
                    {{OptionData.user}}
                </div>
            </div>
             <div ng-click = 'AddBatch()'>
                <div class="item" style='background: #F5F5F5;' ng-if="!OptionData.school_batch && OptionData.title == 'Profile'">
                    <div class="colBlue text-center" style="margin-left: 3px;">Add Batch no.</div>
                </div>
            </div>
            <div ng-if = "OptionData.title == 'Profile'" ng-click = 'ChangePassword()'>
                <div class="item" style='background: #F5F5F5; margin-top: 2px;' >
                    <div class="colBlue text-center" style="margin-left: 3px;">Change Password</div>
                </div>
            </div>
            <div ng-if="OptionData.description">
                <div class="item" style='background: #F5F5F5;padding: 10px;'>
                    <div class="colBlue" style="margin-left: 3px; font-weight: bolder;">Description</div>
                </div>
                <div class="padding">
                    {{OptionData.description}}
                </div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>