<ion-view view-title="Events">
  <ion-content scroll ='true' overflow-scroll="false">
  <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="Event.doRefresh()" spinner="android">
  </ion-refresher>
  <div id='center' ng-if='!Event.eventData'>
    <ion-spinner icon="android" class='CenteredSpinner' ng-if='!Event.eventData && spinner'></ion-spinner>
  </div>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" collection-repeat="data in Event.eventData" type="item-text-wrap" ng-click="Event.ShowDetails(data)">
        <img ng-src="{{data.image}}">
        <h2>{{data.title}}</h2>
        <p>{{data.description}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
