<ion-view view-title="News">
  <ion-content scroll = 'true' overflow-scroll="false">
   <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="Feed.doRefresh()" spinner="android">
  </ion-refresher>
    <div id='center' ng-if='!Feed.feedData'>
    <div ng-if='!Feed.feedData && spinner'>
      <ion-spinner icon="android" class='CenteredSpinner' ></ion-spinner>
    </div>
    
  </div>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" collection-repeat="data in Feed.feedData" type="item-text-wrap" ng-click="Feed.ShowDetails(data)">
        <img ng-src="{{data.image}}">
        <h2>{{data.title}}</h2>
        <p>{{data.description}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll ng-if="!Feed.noMoreItemsAvailable" on-infinite="Feed.loadMore()" distance="10%"></ion-infinite-scroll>
      
   
  </ion-content>
</ion-view>
