<ion-modal-view>
    <ion-header-bar class='BgBlue' align-title="center">
        <h1 class="title ColWhite font23">{{OptionData}}</h1>
        <button class="button icon ion-close-round model-close" on-tap="hide()"></button>
    </ion-header-bar>
    <ion-content scroll="false" has-header='true'>
        <div class="padding">
            <div class="list center">
                <label class="item item-input item-floating-label floatingFormText">
                    <span class="input-label">Title</span>
                    <input type="text" placeholder="Title"  id="FormTitle">
                </label>
                <label class="item item-input item-floating-label floatingFormText">
                    <span class="input-label">Description</span>
                    <input type = 'text' placeholder="Description"  id="FormDesc">
                </label>
                <div class='ChoosePicDiv m-t-15' ng-click='select()'>
                  <p style='margin-top: 38px;'>Select Logo</p>
                </div> 
                <div class="AbsoluteCenterBottom m-t-15">
                    <button class="button button-block button-default LoginButton"  ng-click="publish()" style='border-color: rgb(206, 201, 201);'>Publish</button>
                </div>

            </div>
        </div>
    </ion-content>
</ion-modal-view>