<ion-view hide-nav-bar="true">
    <ion-content scroll="false">
        <div id="loginContainer">
            <div class="text-center m-t-30">
                <h1 class="colBlue cursive">Cottonian</h1>
            </div>
            <form name="LoginForm" class="padding" novalidate>
                <div class="list">
                    <label class="item item-input loginInputField" style="border-top: none;">
                    <i class="ion-ios-email-outline colBlue placeholder-icon" style="font-size: 25px;margin-top: 3px;"></i>
                    <input type="text" placeholder="Email" ng-model="Login.email" name="email" required>
                </label>
                    <label class="item item-input loginInputField">
                    <i class="ion-locked Outline colBlue placeholder-icon" style="font-size: 22px;margin-top: -1px;"></i>
                    <input type="password"  ng-model="Login.password" name="password" placeholder='Password' required>
                </label>
                </div>
                <div class="AbsoluteCenterBottom">
                    <button class="button button-block button-default LoginButton" ng-disabled="LoginForm.email.$invalid||LoginForm.password.$invalid" ng-click="Login.DoLogin()">Login</button>
                </div>
                <div class="AbsoluteCenterBottom m-t-15">
                    <button class="button button-block  LoginButton FbLogin" ng-click="Login.GoFb()">Connect with <i class="ion-social-facebook"></i></button>
                </div>
                <div class="AbsoluteCenterBottom m-t-15">
                    <button class="button button-block  LoginButton GmailLogin" ng-click="Login.GLogin()">Connect with <i class="ion-social-googleplus"></i></button>
                </div>
                <div class="col-xs-12 no-pad-left-right">
                    <div class="text-center m-t-15 m-b-15">
                        <span class="font17 input-label" style="display: initial;">Don't have an account?
                                            <a ui-sref="signup"> Sign Up</a>
                                        </span>
                    </div>
                </div>
                 <div class="col-xs-12 no-pad-left-right">
                                <div class="text-center m-t-30 m-b-15" ng-style="!login.user && {'margin-top':'50px'}">
                                    <small class="font-14">
                                        <span>When you Login, automatically you agree with our  <br/> <a href="http://truecvs.com/cottonian/privacy_&_policy/" target="_blank"> Terms and service of Cottonian App                                  </span>
                                        
                                       
                                    </small>
                                </div>
                            </div>
            </form>
        </div>
    </ion-content>
</ion-view>