<ion-view view-title="Jobs" hide-nav-bar="Job.y">
<ion-nav-buttons side="right">
      <button class="button button-calm" ng-click="Job.showSearch();">
       <i class="icon ion-ios-search-strong" style="color: #fff;opacity: 3;" ></i>
      </button>
    </ion-nav-buttons>


<div class="bar bar-header item-input-inset" ng-show="Job.y">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="Search Job" ng-model="searchingText" id='search'>
  </label>
  <button class="button button-calm" ng-click="Job.cancel()">
    Cancel
  </button>
</div>
<round></round>

  <ion-content class="has-header" scroll="true" overflow-scroll="false" ng-style="Job.x && {'margin-top':'42px'} || !Job.x &&  {'margin-top':'-1px'}">
 <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="Job.doRefresh()" spinner="android">
  </ion-refresher>
   <div class="font17 m-t-30" style="text-align: center; color:#444;" ng-if='Job.dataNotavailable'><span>We have not any Job right now, Please check again later.</span></div>
   <div id='center' ng-if='!Job.jobData'>
    <ion-spinner icon="android" class='CenteredSpinner' ng-if='!Job.jobData && Job.spinner'></ion-spinner>
  </div>
       <div ng-repeat="data in Job.jobData | filter:searchingText track by $index">
            <div class="list card"   >
              <div class="item item-avatar">
                <img ng-src="{{data.titlePic}}">
                <h2>{{data.fullname}}</h2>
                <p>{{data.date_time}}</p>
              </div>
              <div class="item item-body">
               <img class="cardmainimg" ng-src="{{data.image}}" ng-if='!data.video'>
               <div style="min-width: 100px; min-height: 135px; background: black;" ng-if='data.video' >
                    <div class = 'playButton' id ='playButton'>
                       <i class="ion-android-arrow-dropright-circle" ng-if = '!data.downloading && !data.videoAvailable' ng-click = 'downloadFile(data)'></i>
                      <ion-spinner icon = 'android' ng-if='data.downloading'></ion-spinner>
                    </div>
                     <div id = "{{'video'+data.id}}" ng-if= 'data.video'></div>
                </div>             
                 <h2>{{data.title}}</h2>
                <p>
                {{data.description}}
                </p>
                <p>
                  <a  class="subdued colBlue" ng-click = 'Job.accept(data)' ng-if='data.type == "Event" && !data.accepted && !data.me' >
                  <span>{{data.accept.length}}</span>&nbsp;Accept</a>

                  <a class="subdued colBlue"  ng-if='data.type == "Event" && data.accepted'>
                  <span>{{data.accept.length}}</span>&nbsp;Accepted</a>   

                  <a  class="subdued colBlue"  ng-if='data.type == "Job" && !data.applied && !data.me' ng-click='Job.apply(data)'> <span>{{data.apply.length}}</span>&nbsp;Apply </a>

                  <a  class="subdued colBlue"  ng-if='data.type == "Job"  && data.applied' > <span>{{data.apply.length}}</span>&nbsp;Applied </a>
                </p>
              </div>
            </div>
        </div>
  </ion-content>
</ion-view>