<ion-view hide-nav-bar="false" view-title="{{Formdata.navtitle}}" hide-back-button="false"  has-footer = 'true' has-tabs="true">
       <ion-content scroll="false" has-header='true'>
        <div class="padding">
            <div class="list center">
                <label class="item item-input item-floating-label floatingFormText">
                    <span class="input-label">Title</span>
                    <input type="text" placeholder="Title"  id="FormTitle">
                </label>
                <label class="item item-input item-floating-label floatingFormText">
                    <span class="input-label">Description</span>
                    <input type = 'text' placeholder="Description"  id="FormDesc">
                </label>
                <div class='ChoosePicDiv m-t-15' ng-click='select()'>
                  <p style='margin-top: 38px;'>Select Logo</p>
                </div> 
                <div class="AbsoluteCenterBottom m-t-15">
                    <button class="button button-block button-default LoginButton"  ng-click="publish()" style='border-color: rgb(206, 201, 201);'>Publish</button>
                </div>

            </div>
        </div>
    </ion-content>
  </ion-view>  
