<ion-view hide-nav-bar="true">
    <ion-content scroll="true" class="padding">
        <div id="loginContainer">
            <div class="text-center m-t-30">
                <h1 class="colBlue">{{Formdata.navtitle}}</h1>
            </div>
            <form name="data"  novalidate>
                <div class="list" style="margin-bottom: 0px;">
                    <label class="item item-input loginInputField" style="border-top: none;">
                    <i class="ion-compose  colBlue placeholder-icon" style="font-size: 25px;margin-top: 3px;"></i>
                    <input type="text" placeholder="Title"  ng-model = 'Formdata.title' name= 'ftitle' required>
                </label>
                    <label class="item item-input loginInputField">
                    <i class="ion-clipboard  colBlue placeholder-icon" style="font-size: 22px;margin-top: -1px;"></i>
                    <textarea type="text"   ng-model = 'Formdata.description' name='fdesc' placeholder='Description' style="padding-top: 16px;" required></textarea>
                </label>

                </div>
                <ul class="list" style="margin-bottom: 0px;">
                    <li class="item item-toggle" style="border: none;">
                     {{Formdata.locationHeading}}
                          <label class="toggle toggle-calm">
                            <input type="checkbox" ng-model="Formdata.switchedHeading" ng-change="Formdata.locationSwitched(Formdata.switchedHeading);" >
                              <div class="track">
                                <div class="handle"></div>
                              </div>
                         </label>
                    </li>
                </ul>

                <label class="item item-input loginInputField" ng-if="Formdata.switchedHeading">
                    <i class="ion-android-pin Outline colBlue placeholder-icon" style="font-size: 22px;margin-top: 4px;"></i>
                    <input type="text"   ng-model = 'Formdata.customLocation' placeholder='Enter the location' required>
                </label>


                <label class="item item-input loginInputField" ng-click="Formdata.locationRefresher && Formdata.FindAddress();" ng-if="!Formdata.switchedHeading">
                    <i class="ion-android-pin Outline colBlue placeholder-icon" style="font-size: 22px;margin-top: 4px;"></i>&nbsp;
                    <span  ng-class="{'locationAvailable':Formdata.locationAV, 'locationText': !Formdata.locationAV}">{{Formdata.location}}</span>
                    <ion-spinner icon="lines" ng-if="Formdata.locationSpinner" class="refreshicon"></ion-spinner>
                    <div><i class="ion-android-refresh refreshicon" style="font-size: 23px;" ng-if="Formdata.locationRefresher"></i></div>
                </label>

              <label class = "item item-input item-select" style="border-left: none;border-right: none;">
                   <div class = "input-label">
                      Media
                   </div> 
                   <select ng-model="Formdata.media" ng-change="Formdata.mediaChanged(Formdata.media)">
                      <option value="">None</option>
                      <option value="image">Image</option>
                      <option value="video">Video</option>
                   </select>
                </label>
           <div id="videoArea">
            
           </div>
           <div ng-if="Formdata.picture">
              <img ng-src='{{Formdata.picture}}' ng-if = 'Formdata.picture' class="img-responsive">
           </div>   
        </form>
       </div>
    </ion-content>
    <ion-footer-bar align-title="center" class="bar-balanced" style="height: 61px;" ng-click="publish()" ng-if='Formdata.edit==0'>
          <h1 class="title" style="margin-top: 7px;">Submit</h1>
      </ion-footer-bar>
        <ion-footer-bar align-title="center" class="bar-balanced" style="height: 61px;" ng-click="Formdata.update()" ng-if='Formdata.edit==1'>
          <h1 class="title" style="margin-top: 7px;">Update</h1>
      </ion-footer-bar>
</ion-view>