        <ion-side-menus>
      
      <ion-pane ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
         <ion-nav-buttons side="primary">
      <button class="button" ng-click="opensidemenu()" style="    border: none;
    background: #00A9D4;
    color: #fff;">
    <i class="ion-navicon-round" style="font-size: 30px;"></i>
      </button>
    </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view></ion-nav-view>
      </ion-pane>

      <ion-side-menu side="left">
        <ion-content has-header="true" class="sidemenuCustom" id = 'sidemenu'>
          <div class="profilePic m-t-15" style = 'background-image: url({{image}}); border-color: #fff; width: 150px;height: 150px;'></div>
   <!--        <div class="demo">
            <span class="home">Home</span>
            <small class="child">Home driven</small>
          </div> -->
          <ion-list>

          <ion-item   class='m-t-15 sidemenuItem' ng-click ="showChild = !showChild"><i class=" ion-home font19"></i>&nbsp;&nbsp;Home</ion-item>
           <ion-item ui-sref="tab.feed" menu-close class='sidemenuItem' ng-class="(showChild) ? 'enabled' : 'disabled'">Feed</ion-item>
           <ion-item ui-sref="tab.feed" menu-close class='sidemenuItem homechild' ng-if='homeclicked'>Event</ion-item>
           <ion-item ui-sref="tab.feed" menu-close class='sidemenuItem homechild' ng-if='homeclicked'>News</ion-item>
           <ion-item ui-sref="tab.feed" menu-close class='sidemenuItem' ><i class="ion-ios-speedometer font19"></i>&nbsp;&nbsp;Dashboard</ion-item>
           <ion-item ng-click="Go('News')" menu-close class="sidemenuItem dashchild" ng-if='dashclicked'>My News</ion-item>
            <ion-item ng-click="Go('Job')" menu-close class="sidemenuItem dashchild"  ng-if='dashclicked'>My Jobs</ion-item>
            <ion-item ng-click="Go('Event')" menu-close class="sidemenuItem dashchild"  ng-if='dashclicked'>My Events</ion-item>
            <ion-item ng-click="openProfile();"  menu-close class="sidemenuItem"><i class="ion-person font19"></i>&nbsp;&nbsp;My Profile</ion-item>
            <ion-item ng-click="Logout();" menu-close class="sidemenuItem"><i class="icon ion-android-exit"></i>&nbsp;&nbsp;Logout</ion-item>
          </ion-list>
        </ion-content>
      </ion-side-menu>
    </ion-side-menus> 